<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hook" type="CAM.Configuration.HookConfigurationSection.Hook, CAM.Configuration"/>
  </configSections>
  <!-- ffMpeg Option :  -sn : No subtitles   -->
  <!-- Application Environment variables 
         $VIDEO_LOCATION$ : Video location
         $BITMAPS$        : Temporary location for saving bitmaps
         $FPS$            : Frames per second -->
  <!-- Bin directory| Relative path, Application Environment variables, Absolute paths -->
  <!--Mode of operation: Synchronous | Asynchronous-->
  <hook xmlns="urn:CAM.Configuration">
    <commands>
      <!--ffmpeg -i img%d.png -r 10 -c:v libx264 -preset slow -crf 21 output.mp4-->
      <command hookId="MP4" mode="Synchronous">
        <executable name="ffmpeg.exe" exeLocation="Extern/"/>
        <arguments commandLine="-sn -i $BITMAPS$\img%d.png -r $FPS$ -c:v libx264 -preset slow -crf 21 $VIDEO_LOCATION$"/>
      </command>
      <!--$.\ffmpeg.exe -i img%d.png -vcodec huffyuv out.avi-->
      <command hookId="AVI" mode="Synchronous">
        <executable name="ffmpeg.exe" exeLocation="Extern/"/>
        <arguments commandLine="-i $BITMAPS$\img%d.png -s 1024x768 -c:v mjpeg -qscale:v 0 $VIDEO_LOCATION$"/>
      </command>
      <command hookId="MKV" mode="Synchronous">
        <executable name="ffmpeg.exe" exeLocation="Extern/"/>
        <arguments></arguments>
      </command>
      <command hookId="WMI" mode="Synchronous">
        <executable name="ffmpeg.exe" exeLocation="Extern/"/>
        <arguments></arguments>
      </command>
      <command hookId="MP3" mode="Synchronous">
        <executable name="ffmpeg.exe" exeLocation="Extern/"/>
        <arguments></arguments>
      </command>
    </commands>
  </hook>
</configuration>