<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition"/>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="CAM.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <modules>
    <module assemblyFile="CAM.Configuration.dll" moduleType="CAM.Configuration.ConfigurationModule, CAM.Configuration" moduleName="ConfigurationModule" startupLoaded="true" />
    <module assemblyFile="CAM.VideoCodec.FFMPEG.dll" moduleType="CAM.VideoCodec.FFMPEG.FFMpegModule, CAM.VideoCodec.FFMPEG" moduleName="FFMpegModule" startupLoaded="true" />
    <module assemblyFile="CAM.Tools.dll" moduleType="CAM.Tools.BasicToolsModule, CAM.Tools" moduleName="BasicToolsModule" startupLoaded="true" />
  </modules>
</configuration>